body,html{
    height: 100%;
}
.box{
    width: 100%;
    height: 100%;
    background: #0C7EB4;
}
.all{
    width: 100%;
    height: 100%;
}
.swiper-pagination span{
    background: #FFFFFF;
}
img{
    display: block;
    margin:0 auto;
}
.img1{
    width: 100%;
    height: 50px;
    /*margin-bottom: 20px;*/
    margin-top: 40px;
}
.img2{
    width: 100%;
    height: 30px;
}
.img3{
    width: 100%;
    height:200px;
    margin-top: 60px;
}
.img4{
    width: 80%;
    height: 140px;
    margin: 0 auto;
}
.img5{
    width: 100%;
    height: 80px;
}
.img6{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.img7{
    width: 100%;
    height: 40%;
    margin-top: 20px;
}
.img8{
    width: 100%;
    height: 80px;
}
.img9{
    width: 100%;
    height: 100px;
    margin-top: 30px;
}
.img10{
    width: 100%;
    margin-top: 50px;
}
.img11{
    width: 100px;
    height: 100px;
    float: right;
    margin-top: -130px;
    position: relative;
    right: 50px;
}
.img12{
    width: 100%;
    height: 50px;
    margin-top: 30px;
}
.img13{
    width: 100%;
    height: 50%;
    margin-top: 50px;
}
